PUBLIC_UMAMI_WEBSITE_ID=
PUBLIC_UMAMI_SCRIPT_URL=http://localhost:3187/script.js
PUBLIC_UMAMI_HOST_URL=http://localhost:3187
PUBLIC_UMAMI_DOMAINS=localhost

PUBLIC_LISTMONK_API_URL=http://localhost:9000
PUBLIC_LISTMONK_LIST_UUIDS=
