LISTMONK_PORT=9000

LISTMONK_POSTGRES_DB=listmonk
LISTMONK_POSTGRES_USER=listmonk
LISTMONK_POSTGRES_PASSWORD=listmonk

LISTMONK_ADMIN_USER=admin
LISTMONK_ADMIN_PASSWORD=listmonk

# Only required for deployment via profile "tunnel", not for local development
LISTMONK_TUNNEL_TOKEN=replace-this-with-cloudflare-tunnel-token
