UMAMI_PORT=3187

UMAMI_POSTGRES_DB=umami
UMAMI_POSTGRES_USER=umami
UMAMI_POSTGRES_PASSWORD=umami

UMAMI_DATABASE_URL=postgresql://umami:umami@db:5432/umami
UMAMI_APP_SECRET=replace-this-with-a-long-random-secret
