UMAMI_PORT=3187

UMAMI_POSTGRES_DB=umami
UMAMI_POSTGRES_USER=umami
UMAMI_POSTGRES_PASSWORD=umami

UMAMI_DATABASE_URL=postgresql://umami:umami@db:5432/umami
UMAMI_APP_SECRET=replace-this-with-a-long-random-secret

# Only required for deployment via profile "tunnel", not for local development
TUNNEL_TOKEN=replace-this-with-cloudflare-tunnel-token
